html {
  background-color: black;
  color: white;
}

.grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template: repeat(15, 150px) / repeat(10, 1fr);
  border: black 1px solid;
  text-align: center;
}

.box {
  border: black 1px solid;
  font-size: 60px;
}

.name {
  grid-area: 1 / 4 / 1 / 8;
}

.about {
  grid-area: 2 / 2 / 7 / 8;
}

.pfp {
  grid-area: 2 / 8 / 7 / 10;
}

.skills {
  grid-area: 7 / 4 / 7 / 8;
}

.skillicons {
  grid-area: 8 / 2 / 10 / 10;
}

.projects {
  grid-area: 10 / 4 / 10 / 8;
}

.projectlist {
  grid-area: 11 / 2 / 13 / 10;
}

.contact {
  grid-area: 13 / 4 / 13 / 8;
}

.contactinfo {
  grid-area: 14 / 2 / 16 / 10;
}
